@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>


<!DOCTYPE html>
<html xmlns:fb='http://www.facebook.com/2008/fbml' xmlns:og='http://opengraphprotocol.org/schema/' xmlns='http://www.w3.org/1999/xhtml'>
<head>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '491718194266958');
        fbq('init', '2062151370755921');
        fbq('init', '707492769689101');
      fbq('track', 'PageView');

    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=491718194266958&ev=PageView
&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->


    <meta name="google-site-verification" content="1oeyImDqUADWqxeeirf0dylVzzc1X4AQ-021xX4tMWs" />

    <script type="text/javascript">

  var log="";
  function findGetParameter(parameterName) {
    log += "findGetParameter " + parameterName+ "_NL_";
    var result = null;
    var tmp = [];
    location.search.substr(1).split("&").forEach(function (item) {
      tmp = item.split("=");
      if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
    });
    return result;
  }

  document.addEventListener("DOMContentLoaded", function(event) {

    var gclid=findGetParameter('gclid');
    log += "gclid=" + gclid+ "_NL_";
    if(null!=gclid&'null'!=gclid&''!=gclid){
      document.cookie = "gclid=" + gclid + ";";
      log+="COOKIE_CREATED_NL_";
    }

    var image = new Image(1,1);
    image.src = 'https://ecommerce-scripts.adscale.com/WriteShopifyLog?shop=yummi.co.il&log='+log;
  });
    </script>

    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <script>window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.eu01.nr-data.net","errorBeacon":"bam.eu01.nr-data.net","licenseKey":"e4961adb97","applicationID":"11142592","transactionName":"JhpeRQoXVVUASxxRCQgQH1gWHFxB","queueTime":0,"applicationTime":31,"agent":""}</script>
    <script>(window.NREUM||(NREUM={})).loader_config={licenseKey:"e4961adb97",applicationID:"11142592"};window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var i=n[t]={exports:{}};e[t][0].call(i.exports,function(n){var i=e[t][1][n];return r(i||n)},i,i.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var i=0;i<t.length;i++)r(t[i]);return r}({1:[function(e,n,t){function r(){}function i(e,n,t){return function(){return o(e,[u.now()].concat(f(arguments)),n?null:this,t),n?void 0:this}}var o=e("handle"),a=e(4),f=e(5),c=e("ee").get("tracer"),u=e("loader"),s=NREUM;"undefined"==typeof window.newrelic&&(newrelic=s);var p=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],l="api-",d=l+"ixn-";a(p,function(e,n){s[n]=i(l+n,!0,"api")}),s.addPageAction=i(l+"addPageAction",!0),s.setCurrentRouteName=i(l+"routeName",!0),n.exports=newrelic,s.interaction=function(){return(new r).get()};var m=r.prototype={createTracer:function(e,n){var t={},r=this,i="function"==typeof n;return o(d+"tracer",[u.now(),e,t],r),function(){if(c.emit((i?"":"no-")+"fn-start",[u.now(),r,i],t),i)try{return n.apply(this,arguments)}catch(e){throw c.emit("fn-err",[arguments,this,e],t),e}finally{c.emit("fn-end",[u.now()],t)}}}};a("actionText,setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(e,n){m[n]=i(d+n)}),newrelic.noticeError=function(e,n){"string"==typeof e&&(e=new Error(e)),o("err",[e,u.now(),!1,n])}},{}],2:[function(e,n,t){function r(e,n){var t=e.getEntries();t.forEach(function(e){"first-paint"===e.name?c("timing",["fp",Math.floor(e.startTime)]):"first-contentful-paint"===e.name&&c("timing",["fcp",Math.floor(e.startTime)])})}function i(e,n){var t=e.getEntries();t.length>0&&c("lcp",[t[t.length-1]])}function o(e){if(e instanceof s&&!l){var n,t=Math.round(e.timeStamp);n=t>1e12?Date.now()-t:u.now()-t,l=!0,c("timing",["fi",t,{type:e.type,fid:n}])}}if(!("init"in NREUM&&"page_view_timing"in NREUM.init&&"enabled"in NREUM.init.page_view_timing&&NREUM.init.page_view_timing.enabled===!1)){var a,f,c=e("handle"),u=e("loader"),s=NREUM.o.EV;if("PerformanceObserver"in window&&"function"==typeof window.PerformanceObserver){a=new PerformanceObserver(r),f=new PerformanceObserver(i);try{a.observe({entryTypes:["paint"]}),f.observe({entryTypes:["largest-contentful-paint"]})}catch(p){}}if("addEventListener"in document){var l=!1,d=["click","keydown","mousedown","pointerdown","touchstart"];d.forEach(function(e){document.addEventListener(e,o,!1)})}}},{}],3:[function(e,n,t){function r(e,n){if(!i)return!1;if(e!==i)return!1;if(!n)return!0;if(!o)return!1;for(var t=o.split("."),r=n.split("."),a=0;a<r.length;a++)if(r[a]!==t[a])return!1;return!0}var i=null,o=null,a=/Version\/(\S+)\s+Safari/;if(navigator.userAgent){var f=navigator.userAgent,c=f.match(a);c&&f.indexOf("Chrome")===-1&&f.indexOf("Chromium")===-1&&(i="Safari",o=c[1])}n.exports={agent:i,version:o,match:r}},{}],4:[function(e,n,t){function r(e,n){var t=[],r="",o=0;for(r in e)i.call(e,r)&&(t[o]=n(r,e[r]),o+=1);return t}var i=Object.prototype.hasOwnProperty;n.exports=r},{}],5:[function(e,n,t){function r(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,i=t-n||0,o=Array(i<0?0:i);++r<i;)o[r]=e[n+r];return o}n.exports=r},{}],6:[function(e,n,t){n.exports={exists:"undefined"!=typeof window.performance&&window.performance.timing&&"undefined"!=typeof window.performance.timing.navigationStart}},{}],ee:[function(e,n,t){function r(){}function i(e){function n(e){return e&&e instanceof r?e:e?c(e,f,o):o()}function t(t,r,i,o){if(!l.aborted||o){e&&e(t,r,i);for(var a=n(i),f=v(t),c=f.length,u=0;u<c;u++)f[u].apply(a,r);var p=s[y[t]];return p&&p.push([b,t,r,a]),a}}function d(e,n){h[e]=v(e).concat(n)}function m(e,n){var t=h[e];if(t)for(var r=0;r<t.length;r++)t[r]===n&&t.splice(r,1)}function v(e){return h[e]||[]}function g(e){return p[e]=p[e]||i(t)}function w(e,n){u(e,function(e,t){n=n||"feature",y[t]=n,n in s||(s[n]=[])})}var h={},y={},b={on:d,addEventListener:d,removeEventListener:m,emit:t,get:g,listeners:v,context:n,buffer:w,abort:a,aborted:!1};return b}function o(){return new r}function a(){(s.api||s.feature)&&(l.aborted=!0,s=l.backlog={})}var f="nr@context",c=e("gos"),u=e(4),s={},p={},l=n.exports=i();l.backlog=s},{}],gos:[function(e,n,t){function r(e,n,t){if(i.call(e,n))return e[n];var r=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:r,writable:!0,enumerable:!1}),r}catch(o){}return e[n]=r,r}var i=Object.prototype.hasOwnProperty;n.exports=r},{}],handle:[function(e,n,t){function r(e,n,t,r){i.buffer([e],r),i.emit(e,n,t)}var i=e("ee").get("handle");n.exports=r,r.ee=i},{}],id:[function(e,n,t){function r(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:a(e,o,function(){return i++})}var i=1,o="nr@id",a=e("gos");n.exports=r},{}],loader:[function(e,n,t){function r(){if(!x++){var e=E.info=NREUM.info,n=d.getElementsByTagName("script")[0];if(setTimeout(s.abort,3e4),!(e&&e.licenseKey&&e.applicationID&&n))return s.abort();u(y,function(n,t){e[n]||(e[n]=t)}),c("mark",["onload",a()+E.offset],null,"api");var t=d.createElement("script");t.src="https://"+e.agent,n.parentNode.insertBefore(t,n)}}function i(){"complete"===d.readyState&&o()}function o(){c("mark",["domContent",a()+E.offset],null,"api")}function a(){return O.exists&&performance.now?Math.round(performance.now()):(f=Math.max((new Date).getTime(),f))-E.offset}var f=(new Date).getTime(),c=e("handle"),u=e(4),s=e("ee"),p=e(3),l=window,d=l.document,m="addEventListener",v="attachEvent",g=l.XMLHttpRequest,w=g&&g.prototype;NREUM.o={ST:setTimeout,SI:l.setImmediate,CT:clearTimeout,XHR:g,REQ:l.Request,EV:l.Event,PR:l.Promise,MO:l.MutationObserver};var h=""+location,y={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1173.min.js"},b=g&&w&&w[m]&&!/CriOS/.test(navigator.userAgent),E=n.exports={offset:f,now:a,origin:h,features:{},xhrWrappable:b,userAgent:p};e(1),e(2),d[m]?(d[m]("DOMContentLoaded",o,!1),l[m]("load",r,!1)):(d[v]("onreadystatechange",i),l[v]("onload",r)),c("mark",["firstbyte",f],null,"api");var x=0,O=e(6)},{}],"wrap-function":[function(e,n,t){function r(e){return!(e&&e instanceof Function&&e.apply&&!e[a])}var i=e("ee"),o=e(5),a="nr@original",f=Object.prototype.hasOwnProperty,c=!1;n.exports=function(e,n){function t(e,n,t,i){function nrWrapper(){var r,a,f,c;try{a=this,r=o(arguments),f="function"==typeof t?t(r,a):t||{}}catch(u){l([u,"",[r,a,i],f])}s(n+"start",[r,a,i],f);try{return c=e.apply(a,r)}catch(p){throw s(n+"err",[r,a,p],f),p}finally{s(n+"end",[r,a,c],f)}}return r(e)?e:(n||(n=""),nrWrapper[a]=e,p(e,nrWrapper),nrWrapper)}function u(e,n,i,o){i||(i="");var a,f,c,u="-"===i.charAt(0);for(c=0;c<n.length;c++)f=n[c],a=e[f],r(a)||(e[f]=t(a,u?f+i:i,o,f))}function s(t,r,i){if(!c||n){var o=c;c=!0;try{e.emit(t,r,i,n)}catch(a){l([a,t,r,i])}c=o}}function p(e,n){if(Object.defineProperty&&Object.keys)try{var t=Object.keys(e);return t.forEach(function(t){Object.defineProperty(n,t,{get:function(){return e[t]},set:function(n){return e[t]=n,n}})}),n}catch(r){l([r])}for(var i in e)f.call(e,i)&&(n[i]=e[i]);return n}function l(n){try{e.emit("internal-error",n)}catch(t){}}return e||(e=i),t.inPlace=u,t.flag=a,t}},{}]},{},["loader"]);</script>
    <link href='/images/favicon.png?3' rel='shortcut icon'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>יאמי - מחברים אנשים לאוכל - יאמי</title>
    <meta content='באתר יאמי מזמינים אוכל מבשלנים ביתיים ומקבלים אותו הביתה. ' name='description'>
    <link rel="stylesheet" media="screen" href="https://www.yummi.co.il/assets/modern-53f03f5410ad7305a42674561e2cf079465597515a5f7352314805f9dbf9ec4c.css" />
    <link rel="stylesheet" media="screen" href="https://www.yummi.co.il/assets/common-8bba9b9d239d60d07e46713fecbfa2a615ff87d50186eace24d9f337297514f8.css" />
    <link rel="stylesheet" media="screen" href="https://www.yummi.co.il/assets/all-23d37137056745063b83b8be75ec683613a55f838e6120a2522a66af9963b043.css" />
    <link rel="stylesheet" media="screen" href="https://www.yummi.co.il/assets/public-8b9f337d60100ee8fd727db291dd8c20c1ce2ce3c6b8c672c9b4fa508d1b2d1e.css" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="MeetsRb7dlU9xdV5CVTcG/XLrfQVMgrVM+qCk6RC2nx+eQFxTK2BnF/NxxBz4QbBECXZ6kqEeQLSSm6y+dLqbA==" />
    <meta content='https://www.yummi.co.il/' property='og:url'>
    <meta content='האתר שבו מזמינים אוכל ממגוון בשלנים נבחרים' property='og:title'>
    <meta content='אוכל ביתי אמיתי, שמבושל לפי הזמנה על ידי מיטב הבשלנים הביתיים בארץ, והכל באתר אחד!&#x000A;יאמי - מחברים אנשים לאוכל.' property='og:description'>
    <meta content='https://res.cloudinary.com/yummi/image/asset/share_logo-17c133ef1706fac2b44238127ef01f24.jpg' property='og:image'>
    <meta content='article' property='og:type'>
    <meta content='191373597629378' property='fb:app_id'>


    <script crossorigin='anonymous' integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=' src='//code.jquery.com/jquery-1.12.4.min.js'></script>
    <script></script>
    <style>
        #header {
            background-image: url(https://res.cloudinary.com/yummi/image/upload/c_lfill,f_auto,g_north,h_396,q_auto,w_1366/ox9ndnl5cgz4vlc61fbk.jpg) !important;
        }
    </style>
</head>
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5H7CHJT');</script>

<!-- Global site tag (gtag.js) - Google Ads: AW-738738089 -->

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-738738089">
</script>

<script>

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-738738089');
</script>

<body class='home-page mobile-form'>
    <noscript>
        <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-5H7CHJT' style='display:none;visibility:hidden' width='0'></iframe>
    </noscript>
    <div class='cart_panel_holder' data-path='/orders/cart_panel' id='cart_panel_holder'>
        <div class='cart-drop cart_panel legacy-markup' data-dish-count='0'>
            <div class='holder'>
                <div class='frame'>
                    <div class='cart_buttons top_cart_cuttons'>
                    </div>
                    <table class='cart-table'>
                        <tbody>
                            <tr class='row'>
                                <td class='requested_date' colspan='2'></td>
                                <td>
                                    <span class='a-left'>סיכום ביניים:</span>
                                </td>
                                <td>
                                    <strong class='price'><span>0</span>&nbsp;₪</strong>
                                </td>
                            </tr>
                            <tr class='row'>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class='a-left'>סה&quot;כ לתשלום:</span>
                                </td>
                                <td>
                                    <strong class='price'><span>0</span>&nbsp;₪</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class='cart_buttons'>
                    </div>
                    <a class="btn-close close" rel="nofollow" href="#">close</a>
                </div>
            </div>
        </div>
        <script>
  $(document).ready(function() {


  });
        </script>

    </div>
    <div id='wrapper'>
        <div class='w1'>
            <header id='header'>
                <div class='container'>
                    <a class='logo' href='/' title='יאמי - מחברים אנשים לאוכל'>
                        <img alt="יאמי - מחברים אנשים לאוכל" src="https://res.cloudinary.com/yummi/image/asset/logo-hp-40f416e0cad2535f4dfd0b283f4e82dd.png" />
                    </a>
                    <nav class='menu'>
                        <a class='nav-opener' href='#'>
                            <span></span>
                            <span></span>
                        </a>
                        <a class='phone-mobile' href='tel:03-7160699'></a>
                        <div class='cart'>
                            <span class='ico-comment'>
                                <b class='dish_count'>0</b>
                            </span>
                            <a class='ico-basket cart_trigger' href='#'></a>
                        </div>
                        <div class='drop nav-drop'>
                            <ul class='nav left'>
                                <li>
                                    <a class='ico-cutlery' href='/users/login?direct=1'>
                                        <span>כניסה</span>
                                    </a>
                                </li>
                                <li>
                                    <a class='ico-pencil' href='/users/register?direct=1'>
                                        <span>הרשמה</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class='nav right'>
                                <li class='md-hidden'>
                                    <a class='gift' href='/orders/gift_coupon_checkout'>
                                        <span>גיפט קארד</span>
                                    </a>
                                </li>
                                <li class='md-hidden'>
                                    <a class='about' href='/about'>
                                        <span>מי אנחנו</span>
                                    </a>
                                </li>
                                <li>
                                    <a class='ico-phone' href='tel:03-7160699'>
                                        <span>03-7160699</span>
                                    </a>
                                </li>
                                <li>
                                    <a class='ico-cook' href='/search/cooks'>
                                        <span>לרשימת הבשלנים</span>
                                    </a>
                                </li>
                            </ul>
                            <div class='logged-menu mob-visible'>
                                <ul class='nav-logged'>
                                    <li><a href="/orders/gift_coupon_checkout">גיפט קארד</a></li>
                                    <li><a href="/about">אודות יאמי</a></li>
                                    <li><a href="/contact">צרו קשר</a></li>
                                    <li><a href="/tos">תנאי שימוש</a></li>
                                    <li><a href="/advertiser_info">שאלות ותשובות</a></li>
                                    <li><a href="/stories">תקן האיכות שלנו</a></li>
                                    <li><a href="/cook_join">להצטרפות כבשלנים</a></li>
                                </ul>
                            </div>
                            <ul class='social'>
                                <li>
                                    <a class='ico-phone' href='tel:03-7160699'></a>
                                </li>
                                <li>
                                    <a class='ico-facebook' href='https://www.facebook.com/yummi.il' target='_blank'></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class='form-holder'>
                        <div class='btn-holder'>
                            <a class='lightbox btn-lightbox' href='#popup1'>לחצו כאן להזמנה...</a>
                            <a class='btn-next' data-action='submit-form' href='#small_search_filter_form'>
                                לתוצאות
                                <i class='icon-arrow-left'></i>
                            </a>
                        </div>
                        <form class="search_filter_form search-form md-hidden" id="new_search_filter" action="/search" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="j1wemxqfaQIgxt1NhbwEQHKySZzoTLdea6vWImHkZD7AwrJbQMmey0LOzyT/Cd6al1w9grf6xImKCzoDPHRULg==" /><div class='holder'>
                                <div class='col' data-city><input type="text" name="city" placeholder="לאן? (יישוב למשלוח)" title="רשמו את עיר המשלוח" data-reload-page="true" /></div>
                                <input class="hidden-datepicker specific_date" type="text" name="search_filter[datepicker]" id="search_filter_datepicker" />
                                <div class='col' data-date>
                                    <input class="date_autocomplete" autocomplete="off" placeholder="מתי?" title="בחרו למתי תרצו לקבל את ההזמנה" type="text" name="search_filter[form_date]" id="search_filter_form_date" />
                                </div>
                                <div class='col' data-restriction>
                                    <select class="select-1" title="קטגוריות נפוצות של מאכלים" name="search_filter[restriction_list]" id="search_filter_restriction_list">
                                        <option value="">מה? (לרשימת הבשלנים השאירו ריק)</option>
                                        <option value="20">ארוחות חג מלאות לראש השנה</option>
                                        <option value="9">למלא את המקרר</option>
                                        <option value="19">דילים דלי פחמימות</option>
                                        <option value="2">דילים טבעוניים</option>
                                        <option value="15">דילים לילדים</option>
                                        <option value="12">דילים לסופ&quot;ש</option>
                                        <option value="8">דילים לאירוח חגיגי</option>
                                        <option value="21">אוכלים בריא עם יאמי</option>
                                        <option value="6">מטבח שומר כשרות</option>
                                    </select>
                                </div>
                                <div class='col' data-query><input class="query" placeholder="חיפוש חופשי (לפי מנה/בשלן)" type="text" name="search_filter[query]" id="search_filter_query" /></div>
                            </div>
                            <button type='submit'>לתוצאות</button>
                            <input autofocus class='invisible-button' type='submit'>
                        </form>
                    </div>
                </div>
            </header>
            <main id='main' role='main'>
                <div class='best-product'>
                    <div class='col-1'>
                        <div class='row'>
                            <div class='col full'>
                                <div class='box'>
                                    <a href="https://www.yummi.co.il/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93/d/%D7%98%D7%9C%D7%99%D7%90%D7%98%D7%9C%D7%99_%D7%A4%D7%A1%D7%98%D7%94_%D7%A2%D7%91%D7%95%D7%93%D7%AA_%D7%99%D7%93_%D7%91%D7%A8%D7%95%D7%98%D7%91_%D7%A8%D7%95%D7%96%D7%94"><img width="940" height="467" onerror="this.src=&#39;/images/default_ph.png&#39;" src="https://res.cloudinary.com/yummi/image/upload/c_fill,f_auto,g_south,h_467,q_auto,w_940/v1405613976/kqksdegkev4mvqaxid1o.jpg" /></a>
                                    <div class='info-box right'>
                                        <a class='avatar' href='/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93' title='המטבח של ורד '>
                                            <img alt='המטבח של ורד ' height='60' src='https://res.cloudinary.com/yummi/image/upload/c_fill,g_face,h_60,r_max,w_60/v1405800931/m9hp3czxlnpd1yuanrgo.jpg' width='60'>
                                        </a>
                                        <p><a title="טליאטלי-פסטה עבודת יד, ברוטב לבחירה- מתאים להקפאה" href="/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93/d/%D7%98%D7%9C%D7%99%D7%90%D7%98%D7%9C%D7%99_%D7%A4%D7%A1%D7%98%D7%94_%D7%A2%D7%91%D7%95%D7%93%D7%AA_%D7%99%D7%93_%D7%91%D7%A8%D7%95%D7%98%D7%91_%D7%A8%D7%95%D7%96%D7%94">טליאטלי-פסטה עבודת יד, ברוטב לבח...</a></p>
                                        <span class='price'>34&nbsp;₪</span>
                                        <div class='rating-holder'>
                                            <em>4.26</em>
                                            <a class="rating-link" href="/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93#reviews">
                                                <div class='rating white' title='4.26 לבבות'>
                                                    <span class='on'>
                                                        <i>1</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>2</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>3</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>4</i>
                                                    </span>
                                                    <span class='half'>
                                                        <i>5</i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <a class='more' href='/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93'>הזמן &gt;&gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row flex'>
                            <div class='col'>
                                <div class='box'>
                                    <a href="https://www.yummi.co.il/c/shirat_hasavim/d/%D7%A7%D7%95%D7%91%D7%94_%D7%A2%D7%99%D7%A8%D7%90%D7%A7%D7%99_%D7%98%D7%91%D7%A2%D7%95%D7%A0%D7%99"><img width="468" height="469" onerror="this.src=&#39;/images/default_ph.png&#39;" src="https://res.cloudinary.com/yummi/image/upload/c_fill,f_auto,g_south,h_469,q_auto,w_468/v1583951207/bjj0d6c7xv6eyclmtvos.jpg" /></a>
                                    <div class='info-box'>
                                        <a class='avatar' href='/c/shirat_hasavim' title='שירת העשבים - המטבח הטבעוני של אורנה'>
                                            <img alt='שירת העשבים - המטבח הטבעוני של אורנה' height='60' src='https://res.cloudinary.com/yummi/image/upload/c_fill,g_face,h_60,r_max,w_60/v1588629538/c8cvpcjy0dvhyixaegbd.jpg' width='60'>
                                        </a>
                                        <p><a href="/c/shirat_hasavim/d/%D7%A7%D7%95%D7%91%D7%94_%D7%A2%D7%99%D7%A8%D7%90%D7%A7%D7%99_%D7%98%D7%91%D7%A2%D7%95%D7%A0%D7%99">קובה עיראקי טבעוני </a></p>
                                        <span class='price'>35&nbsp;₪</span>
                                        <div class='rating-holder'>
                                            <em>5</em>
                                            <a class="rating-link" href="/c/shirat_hasavim#reviews">
                                                <div class='rating white' title='5.0 לבבות'>
                                                    <span class='on'>
                                                        <i>1</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>2</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>3</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>4</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>5</i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <a class='more' href='/c/shirat_hasavim'>הזמן &gt;&gt;</a>
                                    </div>
                                </div>
                            </div>
                            <div class='col'>
                                <div class='box'>
                                    <a href="https://www.yummi.co.il/c/shirat_hasavim/d/%D7%A7%D7%A6%D7%99%D7%A6%D7%95%D7%AA_%D7%A2%D7%93%D7%A9%D7%99%D7%9D_%D7%91%D7%A8%D7%95%D7%98%D7%91_%D7%A2%D7%92%D7%91%D7%A0%D7%99%D7%95%D7%AA_%D7%A7%D7%90%D7%A8%D7%99_%D7%99%D7%A8%D7%95%D7%A7"><img width="468" height="469" onerror="this.src=&#39;/images/default_ph.png&#39;" src="https://res.cloudinary.com/yummi/image/upload/c_fill,f_auto,g_south,h_469,q_auto,w_468/v1587283009/saejdoweqpnuzqaze7lu.jpg" /></a>
                                    <div class='info-box'>
                                        <a class='avatar' href='/c/shirat_hasavim' title='שירת העשבים - המטבח הטבעוני של אורנה'>
                                            <img alt='שירת העשבים - המטבח הטבעוני של אורנה' height='60' src='https://res.cloudinary.com/yummi/image/upload/c_fill,g_face,h_60,r_max,w_60/v1588629538/c8cvpcjy0dvhyixaegbd.jpg' width='60'>
                                        </a>
                                        <p><a title="קציצות עדשים ברוטב עגבניות / קארי ירוק" href="/c/shirat_hasavim/d/%D7%A7%D7%A6%D7%99%D7%A6%D7%95%D7%AA_%D7%A2%D7%93%D7%A9%D7%99%D7%9D_%D7%91%D7%A8%D7%95%D7%98%D7%91_%D7%A2%D7%92%D7%91%D7%A0%D7%99%D7%95%D7%AA_%D7%A7%D7%90%D7%A8%D7%99_%D7%99%D7%A8%D7%95%D7%A7">קציצות עדשים ברוטב עגבניות / קאר...</a></p>
                                        <span class='price'>35&nbsp;₪</span>
                                        <div class='rating-holder'>
                                            <em>5</em>
                                            <a class="rating-link" href="/c/shirat_hasavim#reviews">
                                                <div class='rating white' title='5.0 לבבות'>
                                                    <span class='on'>
                                                        <i>1</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>2</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>3</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>4</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>5</i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <a class='more' href='/c/shirat_hasavim'>הזמן &gt;&gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-1'>
                        <div class='col-2'>
                            <div class='row'>
                                <div class='box'>
                                    <a href="https://www.yummi.co.il/c/%D7%A4%D7%99%D7%A0%D7%AA_%D7%90%D7%95%D7%9B%D7%9C/d/%D7%93%D7%99%D7%9C"><img width="468" height="469" onerror="this.src=&#39;/images/default_ph.png&#39;" src="https://res.cloudinary.com/yummi/image/upload/c_fill,f_auto,g_south,h_469,q_auto,w_468/v1587621518/x8bnfiru4op0w3wyedke.jpg" /></a>
                                    <div class='info-box'>
                                        <a class='avatar' href='/c/%D7%A4%D7%99%D7%A0%D7%AA_%D7%90%D7%95%D7%9B%D7%9C' title='פינת אוכל'>
                                            <img alt='פינת אוכל' height='60' src='https://res.cloudinary.com/yummi/image/upload/c_fill,g_face,h_60,r_max,w_60/v1587317078/dyetty6jzm1mjwbcjxqk.jpg' width='60'>
                                        </a>
                                        <p><a href="/c/%D7%A4%D7%99%D7%A0%D7%AA_%D7%90%D7%95%D7%9B%D7%9C/d/%D7%93%D7%99%D7%9C">דיל חובק עולם מפינת האוכל של אלעד</a></p>
                                        <span class='price'>250&nbsp;₪</span>
                                        <div class='rating-holder'>
                                            <em>5</em>
                                            <a class="rating-link" href="/c/%D7%A4%D7%99%D7%A0%D7%AA_%D7%90%D7%95%D7%9B%D7%9C#reviews">
                                                <div class='rating white' title='5.0 לבבות'>
                                                    <span class='on'>
                                                        <i>1</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>2</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>3</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>4</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>5</i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <a class='more' href='/c/%D7%A4%D7%99%D7%A0%D7%AA_%D7%90%D7%95%D7%9B%D7%9C'>הזמן &gt;&gt;</a>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='box'>
                                    <a href="https://www.yummi.co.il/c/sandra/d/%D7%90%D7%95%D7%A8%D7%96_%D7%91%D7%A1%D7%9E%D7%98%D7%99"><img width="468" height="469" onerror="this.src=&#39;/images/default_ph.png&#39;" src="https://res.cloudinary.com/yummi/image/upload/c_fill,f_auto,g_south,h_469,q_auto,w_468/v1564211282/itpcvati3uulspipynii.jpg" /></a>
                                    <div class='info-box'>
                                        <a class='avatar' href='/c/sandra' title='אצל סנדרה '>
                                            <img alt='אצל סנדרה ' height='60' src='https://res.cloudinary.com/yummi/image/upload/c_fill,g_face,h_60,r_max,w_60/v1551257586/dhajevjgrqfas0uvzw0t.jpg' width='60'>
                                        </a>
                                        <p><a href="/c/sandra/d/%D7%90%D7%95%D7%A8%D7%96_%D7%91%D7%A1%D7%9E%D7%98%D7%99">אורז בסמטי בטעמים לבחירה</a></p>
                                        <span class='price'>20&nbsp;₪</span>
                                        <div class='rating-holder'>
                                            <em>4.94</em>
                                            <a class="rating-link" href="/c/sandra#reviews">
                                                <div class='rating white' title='4.94 לבבות'>
                                                    <span class='on'>
                                                        <i>1</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>2</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>3</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>4</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>5</i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <a class='more' href='/c/sandra'>הזמן &gt;&gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-2'>
                            <div class='box'>
                                <div class='post'>
                                    <a href="/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93"><img alt="המטבח של ורד " width="340" height="337" src="https://res.cloudinary.com/yummi/image/upload/c_fill,f_auto,g_face,h_469,q_80,w_468/v1405800931/m9hp3czxlnpd1yuanrgo.jpg" /></a>
                                    <div class='post-content'>
                                        <h2>בשלן השבוע</h2>
                                        <strong class='title'><a href="/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93">המטבח של ורד  - מתנה בכל הזמנה - לחם טחינה!</a></strong>
                                        <div class='rating-holder'>
                                            <a class="rating-link" href="/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93#reviews">
                                                <span>4.73</span>
                                                <div class='rating red' title='4.73 לבבות'>
                                                    <span class='on'>
                                                        <i>1</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>2</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>3</i>
                                                    </span>
                                                    <span class='on'>
                                                        <i>4</i>
                                                    </span>
                                                    <span class='half'>
                                                        <i>5</i>
                                                    </span>
                                                </div>
                                                <i class="fa fa-comment" aria-hidden="true"></i>
                                                <span>440</span>
                                            </a>
                                        </div>
                                        <p><b>סגנון מטבח</b>: ביתי עם זכרונות מאיטליה<br /><b>מינימום להזמנה במשלוח</b>: תלוי בעיר<br /><b>מינימום להזמנה באיסוף עצמי</b>: 80&nbsp;₪<br /><b>ימים פעילים</b>: א&#39;, ב&#39;, ג&#39;, ד&#39;, ה&#39;, ו&#39;, ש&#39;</p>
                                        <p>
                                            <b>המטבח שלי:</b> אני בעלת ניסיון של 40 שנה בבישול, ואני מקפידה מאוד שהאוכל יהיה לא רק מאוד טעים אלא גם מזין וללא שום מרכיבים תעשייתיים. למדתי את סודות הבישול האיטלקי מחמתי האיטלקייה...
                                            <a class="read_more" href="/c/%D7%94%D7%9E%D7%98%D7%91%D7%97_%D7%A9%D7%9C_%D7%95%D7%A8%D7%93">קראו עוד »</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </main>
            </div>
        </div>
        </body>
</html>
